.mb-3 {
    margin-top: 20px;
}
body {
    /* background-color: rgb(237, 232, 103); */
}
.btn.btn-primary{
    border-radius: 20px;
}

.btn-secondary, .btn-outline-primary.me-2, .btn-info {
    border-radius: 20px;
}
h2 {
    /* text-align:center; */
    margin-top: 20px;
    color:red;
}

#coupon {
    /* text-decoration: none;

    color: black; */
    font-size: larger;
}


#atac {
    text-decoration: none;
    color: black;
}